<ion-view view-title="Archive" id="mangaArchiveCtrl">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="history in histories"
                      style="padding-top: 0px !important; padding-bottom: 0px !important;">
                <div class="row" style="padding-top: 0px !important; padding-bottom: 0px !important;">
                    <div class="col col-90" style="padding-top: 15px !important; padding-bottom: 0px !important;">
                        <h3>{{ history.manga_name }} - {{ history.title }}</h3>
                    </div>
                    <div class="col col-10" style="padding-top: 0px !important; padding-bottom: 0px !important;">
                        <button class="button button-icon icon ion-trash-a" ng-click="deleteHistory(history.id)"></button>
                    </div>
                </div>
                <div class="row" style="padding-top: 0px !important; padding-bottom: 0px !important;">
                    <div class="col col-10" style="padding-left: 0px !important; padding-right: 15px !important; padding-top: 0px !important; padding-bottom: 0px !important;">
                        <button class="button button-icon icon ion-archive" ng-click="downloadArchive($index, history)"></button>
                    </div>
                    <div class="col" ng-if="history.isDownload" ng-show="history.show"
                         style="padding-top: 0px !important; padding-bottom: 0px !important;">
                        <progress id="progressbar" max="100" value="{{ progressval }}"></progress>
                    </div>
                    <div class="col col-10" style="padding-top: 15px !important; padding-bottom: 0px !important;">
                        <div ng-if="history.isDownload" ng-show="history.show" ng-hide="history.finish" id="progressbarlabel">
                            {{ progressval }} %
                        </div>
                    </div>
                    <div class="col col-10" style="padding-left: 25px !important;padding-top: 15px !important; padding-bottom: 0px !important;">
                        <i class="icon ion-happy-outline" ng-show="history.download_success"></i>
                        <i class="icon ion-sad" ng-show="history.download_error"></i>
                    </div>
                </div>
            </ion-item>
            <div class="padding" ng-show="showMessage">
                {{ noHistory }}
            </div>
        </ion-list>
    </ion-content>
</ion-view>


