<ion-view view-title="Archive" id="mangaArchiveCtrl">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="history in histories" class="archive">
                <div class="row">
                    <div class="col col-90">
                        <h3>{{ history.manga_name }} - {{ history.title }}</h3>
                    </div>
                    <div class="col col-10">
                        <button class="button button-icon icon ion-trash-a"
                                ng-click="deleteHistory(history.id)"></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-10 archiveDownload">
                        <button class="button button-icon icon ion-archive"
                                ng-click="downloadArchive($index, history)"></button>
                    </div>
                    <div class="col archiveProgressBar" ng-if="history.isDownload" ng-show="history.show">
                        <progress id="progressbar" max="100" value="{{ progressval }}"></progress>
                    </div>
                    <div class="col col-10 archiveProgressInfo">
                        <div ng-if="history.isDownload" ng-show="history.show"
                             ng-hide="history.finish" id="progressbarlabel">
                            {{ progressval }} %
                        </div>
                    </div>
                    <div class="col col-10 archiveProgressResult">
                        <i class="icon ion-happy-outline" ng-show="history.download_success"></i>
                        <i class="icon ion-sad" ng-show="history.download_error"></i>
                    </div>
                </div>
            </ion-item>
            <div class="padding" ng-show="showMessage">
                {{ noHistory }}
            </div>
        </ion-list>
    </ion-content>
</ion-view>


