<ion-view view-title="GrabManga">
  <ion-content>
    <div class="row" style="padding-top: 100px">
      <div class="col col-20"></div>
      <div class="col" style="text-align: center">Bienvenue sur GrabManga</div>
      <div class="col col-20"></div>
    </div>
    <div class="row" style="padding-top: 100px">
      <div class="col col-10"></div>
      <div class="col" style="text-align: left">
        Cette application permet de télécharger des mangas au format PDF.
      </div>
      <div class="col col-10"></div>
    </div>
  </ion-content>
</ion-view>
